todo.md
session.vim


cli/node_modules
TODO.md


api/dist
api/node_modules
api/logs
api/*.log
api/npm-debug.log*
api/pnpm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/lerna-debug.log*
api/.DS_Store
api/coverage
api/.nyc_output
api/.idea
api/.project
api/.classpath
api/.c9/
api/*.launch
api/.settings/
api/*.sublime-workspace
api/.vscode/*
api/!.vscode/settings.json
api/!.vscode/tasks.json
api/!.vscode/launch.json
api/!.vscode/extensions.json
api/.env
api/src/test-api.http

frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
frontend/todo.md
frontend/data
